openapi: 3.1.0
info:
  title: FreshTrack API
  version: 2.0.0
  description: |
    Enterprise Inventory & Expiration Date Management System API
    
    ## Authentication
    All endpoints except `/auth/login` and `/auth/register` require Bearer token authentication.
    
    ## Multi-tenancy
    Data is isolated by hotel_id. Users can only access data from their assigned hotel.
    
    ## Permissions
    Role-based access control (RBAC) with granular permissions per resource and action.
  contact:
    name: FreshTrack Support
    email: support@freshtrack.app
  license:
    name: Proprietary
    
servers:
  - url: https://api.freshtrack.app
    description: Production
  - url: http://localhost:3001
    description: Development

tags:
  - name: Auth
    description: Authentication and user management
  - name: Inventory
    description: Products, batches, and categories
  - name: Notifications
    description: Notification management
  - name: Reports
    description: Statistics and reporting
  - name: Settings
    description: Hierarchical settings system

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        login:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
          nullable: true
        role:
          type: string
          enum: [SUPER_ADMIN, HOTEL_ADMIN, MANAGER, DEPARTMENT_MANAGER, STAFF]
        hotel_id:
          type: string
          format: uuid
          nullable: true
        department_id:
          type: string
          format: uuid
          nullable: true
        is_active:
          type: boolean
        permissions:
          type: object
        role_label:
          type: string
          nullable: true
        departments:
          type: array
          items:
            type: string
          nullable: true

    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        sku:
          type: string
        unit:
          type: string
          enum: [шт, кг, л, упак, порц]
        category_id:
          type: integer
        department_id:
          type: integer
        min_quantity:
          type: number
        is_active:
          type: boolean
        image_url:
          type: string
          nullable: true

    Batch:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        batch_code:
          type: string
        quantity:
          type: number
        expiry_date:
          type: string
          format: date
        production_date:
          type: string
          format: date
          nullable: true
        supplier:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, collected, written_off, transferred]
        expiryStatus:
          type: string
          enum: [expired, today, critical, warning, good]
        daysLeft:
          type: integer
        statusColor:
          type: string
        statusText:
          type: string

    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        icon:
          type: string
          nullable: true
        sort_order:
          type: integer

    Notification:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [expiry_warning, expiry_critical, low_stock, collection_reminder, system]
        title:
          type: string
        message:
          type: string
        batch_id:
          type: integer
          nullable: true
        product_id:
          type: integer
          nullable: true
        is_read:
          type: boolean
        created_at:
          type: string
          format: date-time

    PaginatedResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items: {}
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer

security:
  - bearerAuth: []

paths:
  # ========================================
  # Auth Endpoints
  # ========================================
  /api/auth/login:
    post:
      tags: [Auth]
      summary: User login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [login, password]
              properties:
                login:
                  type: string
                  minLength: 3
                  description: Email or login
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials

  /api/auth/me:
    get:
      tags: [Auth]
      summary: Get current user
      responses:
        '200':
          description: Current user info
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'
    put:
      tags: [Auth]
      summary: Update current user profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                locale:
                  type: string
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'

  /api/auth/users:
    get:
      tags: [Auth]
      summary: List users (admin only)
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, inactive]
        - name: role
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
    post:
      tags: [Auth]
      summary: Create user (admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [login, name]
              properties:
                login:
                  type: string
                  format: email
                name:
                  type: string
                role:
                  type: string
                  enum: [HOTEL_ADMIN, MANAGER, DEPARTMENT_MANAGER, STAFF]
                department_id:
                  type: string
                  format: uuid
                password:
                  type: string
                  minLength: 8
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'

  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register new user (invite flow)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [login, password, name, hotel_code]
              properties:
                login:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
                hotel_code:
                  type: string
      responses:
        '201':
          description: User registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: Logout (invalidate token)

  /api/auth/validate-hotel-code:
    get:
      tags: [Auth]
      summary: Validate hotel code (public)
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Valid or invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  hotel_id:
                    type: string
                    format: uuid
                  hotel_name:
                    type: string

  /api/auth/pending-status:
    get:
      tags: [Auth]
      summary: Check if user has pending MFA/email/terms
      responses:
        '200':
          description: Pending checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  pendingMfa:
                    type: boolean
                  pendingEmailVerification:
                    type: boolean
                  pendingTerms:
                    type: boolean

  /api/auth/join-requests:
    get:
      tags: [Auth]
      summary: List join requests (admin)
      responses:
        '200':
          description: List of join requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  joinRequests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        login:
                          type: string
                        name:
                          type: string
                        hotel_id:
                          type: string
                        status:
                          type: string
                        created_at:
                          type: string
                          format: date-time

  /api/auth/join-requests/{id}/approve:
    post:
      tags: [Auth]
      summary: Approve join request
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                department_id:
                  type: string
                  format: uuid
                role:
                  type: string
      responses:
        '200':
          description: Approved

  /api/auth/join-requests/{id}/reject:
    post:
      tags: [Auth]
      summary: Reject join request
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Rejected

  /api/auth/users/export:
    get:
      tags: [Auth]
      summary: Export users (admin, MFA + rate limit)
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, xlsx]
            default: csv
      responses:
        '200':
          description: File download
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary

  /api/auth/users/{id}:
    put:
      tags: [Auth]
      summary: Update user (admin)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                role:
                  type: string
                department_id:
                  type: string
                  format: uuid
                is_active:
                  type: boolean
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'
    delete:
      tags: [Auth]
      summary: Delete user (admin)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User deleted

  /api/auth/users/{id}/toggle:
    patch:
      tags: [Auth]
      summary: Toggle user active (admin)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                is_active:
                  type: boolean
      responses:
        '200':
          description: User toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'

  /api/auth/users/{id}/resend-password:
    post:
      tags: [Auth]
      summary: Resend temporary password (admin)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Password resent

  /api/auth/password:
    put:
      tags: [Auth]
      summary: Set password (first login / reset)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Password set

  /api/auth/change-password:
    post:
      tags: [Auth]
      summary: Change password (authenticated)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Password changed
        '401':
          description: Invalid current password

  /api/auth/accept-terms:
    post:
      tags: [Auth]
      summary: Accept terms of use
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
      responses:
        '200':
          description: Terms accepted

  /api/auth/terms-status:
    get:
      tags: [Auth]
      summary: Get terms acceptance status
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
                  version:
                    type: string
                  acceptedAt:
                    type: string
                    format: date-time
                    nullable: true

  /api/auth/verification-status:
    get:
      tags: [Auth]
      summary: Email verification status
      responses:
        '200':
          description: Verified or not
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean

  /api/auth/verify-email-otp:
    post:
      tags: [Auth]
      summary: Verify email with OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: Email verified

  /api/auth/request-email-verification:
    post:
      tags: [Auth]
      summary: Request email verification (send OTP)
      responses:
        '200':
          description: OTP sent

  /api/auth/resend-email-otp:
    post:
      tags: [Auth]
      summary: Resend email OTP
      responses:
        '200':
          description: OTP resent

  /api/auth/change-email:
    post:
      tags: [Auth]
      summary: Request email change (sends OTP to new email)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newEmail]
              properties:
                newEmail:
                  type: string
                  format: email
      responses:
        '200':
          description: OTP sent to new email

  /api/auth/verify-email-change:
    post:
      tags: [Auth]
      summary: Confirm email change with OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: Email changed

  /api/auth/mfa/setup:
    post:
      tags: [Auth]
      summary: Start MFA setup (returns secret + QR)
      responses:
        '200':
          description: MFA setup data
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                  qrCode:
                    type: string
                  backupCodes:
                    type: array
                    items:
                      type: string

  /api/auth/mfa/verify-setup:
    post:
      tags: [Auth]
      summary: Verify MFA setup with TOTP code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: MFA enabled

  /api/auth/mfa/verify:
    post:
      tags: [Auth]
      summary: Verify TOTP (login step)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: Full token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'

  /api/auth/mfa/disable:
    post:
      tags: [Auth]
      summary: Disable MFA (requires current TOTP or backup code)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        '200':
          description: MFA disabled

  /api/auth/mfa/status:
    get:
      tags: [Auth]
      summary: MFA enabled status
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean

  /api/auth/mfa/request-recovery:
    post:
      tags: [Auth]
      summary: Request MFA recovery (sends backup code to email)
      responses:
        '200':
          description: Recovery email sent

  /api/auth/mfa/emergency-recover:
    get:
      tags: [Auth]
      summary: Consume one-time recovery link (from email)
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recovery link consumed; user can set new MFA or continue
        '302':
          description: Redirect to app

  /api/auth/mfa/admin-reset/{userId}:
    post:
      tags: [Auth]
      summary: Admin reset MFA for user (SUPER_ADMIN)
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: MFA reset

  /api/auth/mfa/recovery-requests:
    get:
      tags: [Auth]
      summary: List MFA recovery requests (admin)
      responses:
        '200':
          description: List of recovery requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  requests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        user_id:
                          type: string
                        status:
                          type: string
                        created_at:
                          type: string
                          format: date-time

  # ========================================
  # Inventory Endpoints
  # ========================================
  /api/products:
    get:
      tags: [Inventory]
      summary: List products
      parameters:
        - name: category_id
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: is_active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'

    post:
      tags: [Inventory]
      summary: Create product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, unit, category_id]
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 200
                sku:
                  type: string
                unit:
                  type: string
                  enum: [шт, кг, л, упак, порц]
                category_id:
                  type: integer
                min_quantity:
                  type: number
                  minimum: 0
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  product:
                    $ref: '#/components/schemas/Product'

  /api/batches:
    get:
      tags: [Inventory]
      summary: List batches
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum: [active, collected, written_off, transferred, expiring, expired, critical, warning]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: List of batches with expiry data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Batch'

    post:
      tags: [Inventory]
      summary: Create batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, quantity, expiry_date]
              properties:
                product_id:
                  type: integer
                quantity:
                  type: number
                  minimum: 0.001
                expiry_date:
                  type: string
                  format: date
                production_date:
                  type: string
                  format: date
                batch_code:
                  type: string
                supplier:
                  type: string
      responses:
        '201':
          description: Batch created

  /api/categories:
    get:
      tags: [Inventory]
      summary: List categories
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'

  # ========================================
  # Notifications Endpoints
  # ========================================
  /api/notifications:
    get:
      tags: [Notifications]
      summary: Get user notifications
      parameters:
        - name: unread_only
          in: query
          schema:
            type: boolean
        - name: type
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  unreadCount:
                    type: integer

  /api/notifications/{id}/read:
    put:
      tags: [Notifications]
      summary: Mark notification as read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Notification marked as read

  /api/notifications/read-all:
    put:
      tags: [Notifications]
      summary: Mark all notifications as read
      responses:
        '200':
          description: All notifications marked as read

  # ========================================
  # Reports Endpoints
  # ========================================
  /api/reports/statistics:
    get:
      tags: [Reports]
      summary: Get statistics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: locale
          in: query
          schema:
            type: string
            enum: [ru, en, kk]
      responses:
        '200':
          description: Statistics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  byStatus:
                    type: object
                  byCategory:
                    type: object
                  trends:
                    type: object
                  total:
                    type: integer

  /api/reports/calendar:
    get:
      tags: [Reports]
      summary: Get calendar view data
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Calendar data with batches grouped by expiry date

  /api/reports/dashboard:
    get:
      tags: [Reports]
      summary: Get dashboard summary
      responses:
        '200':
          description: Dashboard data

  # ========================================
  # Settings Endpoints
  # ========================================
  /api/settings/user:
    get:
      tags: [Settings]
      summary: Get aggregated user settings
      description: Returns settings with hierarchy resolution (User → Department → Hotel → System → Default)
      responses:
        '200':
          description: User settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  settings:
                    type: object
                  context:
                    type: object

  /api/settings/user/{key}:
    put:
      tags: [Settings]
      summary: Set user setting
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  description: Setting value (any type)
      responses:
        '200':
          description: Setting updated

  /api/settings/hotel:
    get:
      tags: [Settings]
      summary: Get hotel settings
      responses:
        '200':
          description: Hotel settings

  /api/settings/batch:
    post:
      tags: [Settings]
      summary: Batch update settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [settings, scope]
              properties:
                scope:
                  type: string
                  enum: [user, department, hotel, system]
                settings:
                  type: array
                  items:
                    type: object
                    required: [key, value]
                    properties:
                      key:
                        type: string
                      value: {}
      responses:
        '200':
          description: Settings updated
